@model Post

<a href="/posts/new">Create a Post</a>
<a href="/posts">view all posts</a>

@if (@Model.Author != null)
{
<h2>@Model.Topic @Model.Author.Username</h2>
}
<div>@Model.Body</div>
@if(Model.ImgUrl != null)
{
    <div>@Model.ImgUrl</div>
}

<h3>This post was liked by:</h3>
@foreach (UserPostLike like in Model.PostLikes)
{
    if(like.User != null)
    {
        <p>@like.User.Username</p>
    }
    
}

@* conditionally show edit/delete id post was creadter by logged in user *@
@if(Model.UserId == Context.Session.GetInt32("UUID"))
{
    <a href="/posts/@Model.PostId/edit">Edit</a>

    <form 
    asp-controller="Posts"
    asp-action="DeletePost"
    asp-route-deletedPostId="@Model.PostId"
    method="POST"
    >
    <button class="btn-outline-danger">Delete</button>
</form>
}

@* <a href="/posts/@Model.PostId/delete"> Delete </a> *@